{% comment %}
<div class="st-search-box st-hidden-mobile" style="">
  <input type="text" autocomplete="off" placeholder="" name="st" id="st-search" class="st-search-input">    

</div>
<style>
body.searchtap:has(.shopify-section:first-child [allow-transparent-header]):not(:has(.shopify-section--header~.shopify-section-group-header-group)) .header {
    --header-show-transparent-logo: 0;
    --header-separation-border-color: unset;
    --background-gradient: unset;
    --border-color: unset;
    --text-color: unset;
   margin-block-end: unset;
    --background: 243 243 243 / 1.0;
}
  body.searchtap svg#svgkp {
    color: #5c5c5c!important;
}



   .st-search-box input::placeholder {
    color: #1c1c1c;
     text-transform: uppercase;
}
  :has(.shopify-section:first-child [allow-transparent-header]):not(:has(.shopify-section--header~.shopify-section-group-header-group)) .header:not(:hover,.is-solid,:has([open])) .st-search-box input::placeholder {
    color: #fff;
}
:has(.shopify-section:first-child [allow-transparent-header]):not(:has(.shopify-section--header~.shopify-section-group-header-group)) .header:not(:hover,.is-solid,:has([open])) .st-search-box input {
      color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' fill='none' focusable='false' width='24' class='header__nav-icon icon icon-search' viewBox='0 0 24 24'%3E%3Cpath d='M10.364 3a7.364 7.364 0 1 0 0 14.727 7.364 7.364 0 0 0 0-14.727Z' stroke='%23fff' stroke-width='1.5' stroke-miterlimit='10'%3E%3C/path%3E%3Cpath d='M15.857 15.858 21 21.001' stroke='%23fff' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round'%3E%3C/path%3E%3C/svg%3E");
    border: 1.5px solid #fff;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' focusable='false' width='18' height='18' class='icon icon--header-search ' viewBox='0 0 18 18'%3E%3Cpath d='M12.336 12.336c2.634-2.635 2.682-6.859.106-9.435-2.576-2.576-6.8-2.528-9.435.106C.373 5.642.325 9.866 2.901 12.442c2.576 2.576 6.8 2.528 9.435-.106zm0 0L17 17' fill='none' stroke='%23fff' stroke-width='1.7'%3E%3C/path%3E%3C/svg%3E"); */
}
    body.searchtap .st-search-box .st-search-input {
    color: #1c1c1c !important;
    border: 1.5px solid #5c5c5c !important;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' fill='none' focusable='false' width='24' class='header__nav-icon icon icon-search' viewBox='0 0 24 24'%3E%3Cpath d='M10.364 3a7.364 7.364 0 1 0 0 14.727 7.364 7.364 0 0 0 0-14.727Z' stroke='currentColor' stroke-width='1.5' stroke-miterlimit='10'%3E%3C/path%3E%3Cpath d='M15.857 15.858 21 21.001' stroke='currentColor' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round'%3E%3C/path%3E%3C/svg%3E") !important;

}
  .st-search-box input:focus-visible {
    outline: none !important;
}
 
  
  @media only screen and (min-width:1025px) {
  .hidden-desktop {
    display: none !important;
  }
     a.site-nav__link.site-nav__link--icon.st-searchbox-close-btn {
    display: inline-flex;
    cursor: pointer;
}

  }
  @media only screen and (max-width:1024px) {
  .st-hidden-mobile {
    display: none !important;
  }
       /* body.searchtap:has(.shopify-section:first-child [allow-transparent-header]):not(:has(.shopify-section--header~.shopify-section-group-header-group)) .header {
  margin-block-end: calc(-1 * var(--header-height, 0px));
} */
  }

  @media only screen and (max-width:1366px) {
    .st-search-box.st-hidden-mobile{
        margin-right: 25px !important;
    } 
    /* .st-search-box .st-search-input{
      padding: 8px 35px 8px 40px !important;
    } */
    
  }

   @media only screen and (min-width:834px) and (max-width:1300px) {
/*     .st-search-box.hidden-mobile {
    transform: translate(15%, 15%) !important;
    width: 77% !important; */
}
  }
  
  @media only screen and (min-width: 1700px) and (max-width: 2500px){
  .st-search-box.hidden-mobile {
    /* width: 55% !important; */
}
}
  @media only screen and (min-width: 1301px) and (max-width: 1500px){
    .st-search-box.hidden-mobile {
/*     transform: translate(15%, 20%) !important; */
    /* width: 57% !important;  */
}
  }
  @media only screen and (min-width: 2500px){
  .st-search-box.hidden-mobile {
/*     width: 66% !important;
    transform: translate(-20%, 50%) !important; */
}
}
.st-search-box .st-search-input {
    font-family: inherit;
    color: #1c1c1c !important;
    font-size: 12px;
    /* padding: 5px 10px 5px 17px; */
    width: 100%;
    border: 1.5px solid #5c5c5c ;
    line-height: 1.7333333333;
    margin-bottom: 0;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' focusable='false' width='18' height='18' class='icon icon--header-search ' viewBox='0 0 18 18'%3E%3Cpath d='M12.336 12.336c2.634-2.635 2.682-6.859.106-9.435-2.576-2.576-6.8-2.528-9.435.106C.373 5.642.325 9.866 2.901 12.442c2.576 2.576 6.8 2.528 9.435-.106zm0 0L17 17' fill='none' stroke='currentColor' stroke-width='1.7'%3E%3C/path%3E%3C/svg%3E"); */
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' fill='none' focusable='false' width='24' class='header__nav-icon icon icon-search' viewBox='0 0 24 24'%3E%3Cpath d='M10.364 3a7.364 7.364 0 1 0 0 14.727 7.364 7.364 0 0 0 0-14.727Z' stroke='currentColor' stroke-width='1.5' stroke-miterlimit='10'%3E%3C/path%3E%3Cpath d='M15.857 15.858 21 21.001' stroke='currentColor' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 20px;
    /* background-position: calc(100% - 10px) center; */
    background-color: transparent;
    border-radius: 5px;
    height: 37.6px;
    min-height: 37.6px;
    background-position: 10px center;
    padding: 5px 30px 5px 40px;
}

.st-search-box.st-hidden-mobile {
    position: relative;
    top: 0;
    /* transform: translate(25%, 20%); */
    transform: none;
    z-index: 9;
   width: 358px !important;
    padding: 0;
}
  span.st-search-close-btn {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%23000000' version='1.1' id='Capa_1' width='20' height='20' viewBox='0 0 94.926 94.926' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M55.931,47.463L94.306,9.09c0.826-0.827,0.826-2.167,0-2.994L88.833,0.62C88.436,0.224,87.896,0,87.335,0 c-0.562,0-1.101,0.224-1.498,0.62L47.463,38.994L9.089,0.62c-0.795-0.795-2.202-0.794-2.995,0L0.622,6.096 c-0.827,0.827-0.827,2.167,0,2.994l38.374,38.373L0.622,85.836c-0.827,0.827-0.827,2.167,0,2.994l5.473,5.476 c0.397,0.396,0.936,0.62,1.498,0.62s1.1-0.224,1.497-0.62l38.374-38.374l38.374,38.374c0.397,0.396,0.937,0.62,1.498,0.62 s1.101-0.224,1.498-0.62l5.473-5.476c0.826-0.827,0.826-2.167,0-2.994L55.931,47.463z'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: -4%;
    transform: translate(-50%, -50%);
    padding: 17px;
    background-color: #fef8ec;
    cursor: pointer;
}
 
  a.site-nav__link.site-nav__link--icon.st-searchbox-close-btn svg {
    width: 30px;
    height: 30px;
}
</style>
{% endcomment %}


<div class="st-search-box st-hidden-mobile" style="display: none">
  <input
    type="text"
    autocomplete="off"
    placeholder="Search..."
    name="st"
    id="st-search-mobile"
    class="st-search-input"
  >
  {% render 'st-searchbox-cross-icon' %}
</div>
<style>
  .header__primary-nav{
    position: relative;
}
 .st-search-box.st-hidden-mobile {
    position: absolute;
       top: 50%;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    z-index: 9;
    background: #fff;
    width: calc(100% - 425px);
    max-width: calc(100% - 425px);
   box-shadow: 0 5px 20px #8f959a99;
   border-radius: 5px;
}
    .st-search-box.st-hidden-mobile .st-search-input {
      height: 40px;
      min-height: 40px;
      padding: 8px 35px 8px 50px;
      background-size: 25px;
      font-size: 16px !important;
      width: 100% !important;
      color: #1c1c1c !important;
      border-radius: 5px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' fill='none' focusable='false' width='24' class='header__nav-icon icon icon-search' viewBox='0 0 24 24'%3E%3Cpath d='M10.364 3a7.364 7.364 0 1 0 0 14.727 7.364 7.364 0 0 0 0-14.727Z' stroke='currentColor' stroke-width='1.5' stroke-miterlimit='10'%3E%3C/path%3E%3Cpath d='M15.857 15.858 21 21.001' stroke='currentColor' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: 10px center;
    }

    .st-search-box.st-hidden-mobile .st-search-input::placeholder {
     font-size: 12px;
      font-weight: 400;
      color: #1c1c1c !important;
  }

  @media only screen and (max-width: 768px){
     .st-search-box.st-hidden-mobile{
       display: none;
     }
  }
 
  
</style>

