<div class="st-search-box st-hidden-desktop" style="display: none">
  <input
    type="text"
    autocomplete="off"
    placeholder="Search..."
    name="st"
    id="st-search-mobile"
    class="st-search-input"
  >
  {% render 'st-searchbox-cross-icon' %}
</div>
<style>
 .st-search-box.st-hidden-desktop {
    /* padding: 5px 1.2rem 10px; */
    position: relative;
    /* background-color: #fff; */
    /* top: 50px; */
    width: 100% !important;
    grid-column: 1 / -1;
}
    .st-search-box.st-hidden-desktop .st-search-input {
      height: 40px;
      min-height: 40px;
      padding: 8px 35px 8px 50px;
      background-size: 25px;
      font-size: 16px !important;
      width: 100% !important;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' fill='none' focusable='false' width='24' class='header__nav-icon icon icon-search' viewBox='0 0 24 24'%3E%3Cpath d='M10.364 3a7.364 7.364 0 1 0 0 14.727 7.364 7.364 0 0 0 0-14.727Z' stroke='currentColor' stroke-width='1.5' stroke-miterlimit='10'%3E%3C/path%3E%3Cpath d='M15.857 15.858 21 21.001' stroke='currentColor' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: 10px center;
  }

    .st-search-box.st-hidden-desktop .st-search-input::placeholder {
     font-size: 12px;
      font-weight: 400;
  }

  .st-search-box.st-hidden-desktop .st-input-action-btn .st-autocomplete-close-btn {

}
  @media only screen and (min-width: 769px) {
    .st-search-box.st-hidden-desktop {
      display: none;
    }
  }
  
</style>
